@charset "UTF-8";

/*inportação de fontes (google fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*variaveis*/

:root {
    --cinza-claro: #9492a8;
    --branco: #fff;
    --cinza-escuro: #000000;
    --preto: #000000;
    --vermelho: rgb(245, 15, 15);


}

/*CSS Reset (Compatibilizar com todos navegadores )*/
* {
    margin: 0;
    padding: 0;
    border: 0;

}




/* Layout>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    /* 1em = 100%  (tamanho padrão)*/
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Centralizar o bloco */

}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
    background-color: var(--cinza-escuro);
    font-weight: 700;
    width: 200px;
    padding: 2px 0px;
    border: 2px solid var(--preto);
    border-radius: 25px;
    align-self: center;
    margin-top: 25px;
}
/* Fim do layout>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/




/***** Bralpoits ******/

/* Smartphone Portrait>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<*/
/*cabeçalho*/
header {
    height: 100px;

}

#logo img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;

}

#check {
    display: none;
}

/* Efeito de deslizar o menu*/
/* Se check estiver ticado, criar um estilo para ul*/
#check:checked~ul {
    left: 0;
    transition: 0.9s;

}

label {
    font-size: 1.9em;
    position: fixed;
    top: 15px;
    right: 15px;
    color: rgba(0, 0, 0, 0.5);

}

nav ul {
    height: 100vh;
    /*100 vh - 100% da autura da tela*/
    background-color: rgba(0, 0, 0, 0.795);
    list-style: none;
    /*remover bullets*/
    width: 65%;
    position: fixed;
    top: 100px;
    left: -65%;
    transition: 0.5s;


}

nav ul li {
    padding: 15px 20px;
    border-bottom: 1px solid var(--branco);
    text-align: left;
}

nav ul li a {
    color: var(--branco);
    text-decoration: none;
}

/* Banner>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

main {
    height: 75vh;
    background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

main h1,
h2 {
    color: var(--branco);
    text-shadow: #000 0.05em 0.05em 0.05em;
    /* sombra*/
}

main h1 {
    font-size: 2em;
}

main h2 {
    font-size: 1.8em;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;

}
/**************************Destaque************************(****/
#destaque {
    background: url(img/back.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
    /*pasamento interno para não encostar na borda do dispositivo*/
}

/*organizando o container após o destaque o estilo é aplicado apenas ao container de seção de destaque*/
#destaque .container {
    flex-direction: column;
    align-items: center;
}
/*para  escorder a imagem, usamos display: none no container da imagem | para exibir novamente em telas maiores,usamos display: block*/

/*#imagemDestaque {
    display: none;
}*/

#imagemDestaque img{
    width: 200px;
    height: 200px;
    /*Arredondar imagem quadrada*/
    border-radius: 50%;
}


#textoDestaque{
    color: var(--branco);
    
}
#textoDestaque h2 {
    margin-bottom: 20px;

}
/*Atenção !!! Detalhe do sinal ">" referente ao elemento imediato*/

#textoDestaque>p {
    color: var(--branco);
    margin-bottom: 15px;
}
.topicos {
    display: flex;
    align-items: center;
    margin-top: 5px;


}

.topicos img {
    margin-right: 10px;

}

.topicos p {
    font-weight: 600 ;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Smartphone Landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {

     /****** Layout ******/
     .container {
        max-width: 540px;
        /* background-color: #ffff00;*/
    }

    /****** Cabeçalho ******/
    nav ul {
        right: -25%;
        width: 25%;
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 3em;
    }

    /*Destaque */

    #destaque .container {
        flex-direction: row;

    }

    #imagemDestaque{
        margin-right: 50px;
    }

    #imagemDestaque img {
        width: 256px;
        height: 256px;

    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Tablet Portrat>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {

    /*cabeçalho*/
    .container {
        max-width: 720px;

    }

    header {
        height: 110px;
    }

    #logo img {
        width: 125px;
        height: 125px;
    }

    nav ul {
        top: 110px;
        width: 50%;
        left: -50%;
    }

    /* Banner*/

    main {
        height: 65vh;

    }
    main h1 {
        font-size: 3.8em;
    }

    main h2 {
        font-size: 3em;
    }

    #imagemDestaque img {
        width: 440px;
        height: 440px;
    }
    

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Tablet Landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /*cabeçalho*/
    .container {
        max-width: 960px;

    }

    main {
        height: 70vh;
    }

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*PCs /Notbooks>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    /*cabeçalho8*/
    .container {
        max-width: 1140px;

    }

    /* Cabeçalho*/

    header {
        height: 130px;
    }

    #logo img {
        width: 126px;
        height: 126px;
    }

    /*Transformação no menu*/
    label {
        display: none;
    }

    nav ul {
        width: 100%;
        height: auto;
        position: static;
        /*background-color: transparent; /* Cor transparente*/

    }

    nav ul li {
        float: left;
        border: 0;

    }

    nav ul li a {
        color: var(--preto)
    }

    nav ul li a:hover {
        color: var(--vermelho);
    }

    /* Banner*/
    main h1 {
        font-size: 6em;

    }
    main h2 {
        font-size:3em;
    }

    #destaque {
        background-attachment: fixed;
    }


}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Telas FullHD /4k /SmartTVs* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;

    }

    header {
        height: 150px;
    }

    #logo img {
        width: 150px;
        height: 150px;
        margin: 10px 0px 0px 0px;
    }
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/